@import "css/2020-11-26-joules-journey-part-1.css";

.problem {
    color: magenta;
    font-weight: bold;
}

.problem-headers {
    display: inline-block;
    text-align: right;
    font-weight: bold;
    width: 80px;
}

.blog-fig img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-fig figcaption {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
}

// For tags (see post.html)
.no-underline:hover {
  text-decoration: none;
}
