/* Flexbox tips: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

/* .column {
  float: left;
  width: 45%;
  padding: 10px;
}

.column img {
  width: 100%;
  margin-top: 12px;
} */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.flex-item {
  flex-basis: 45%;
  /* top + bottom = 0px, left + right = 4px */
  padding: 0 4px;
}

.flex-item img {
  margin-top: 8px;
  vertical-align: middle;
}

.flex-item iframe {
  margin-top: 8px;
  vertical-align: middle;
}
